<mat-card>
    <mat-form-field>
        <input matInput type="number" placeholder="id" [(ngModel)]="id" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="titulo" [(ngModel)]="titulo" />
    </mat-form-field>

    <mat-form-field>
        <input matInput type="text" placeholder="autor" [(ngModel)]="autor"/>
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number" placeholder="numero de paginas" [(ngModel)]="paginas"/>
    </mat-form-field>
    
    <button color="primary" mat-raised-button (click)="onAdicionarLivro()">Cadastrar Livro</button>
</mat-card>


